<mat-slide-toggle 
  aria-label="isSnapingToDataPoint"
  [checked]="isSnapingToDataPoint"
  (change)="toggleSnapping($event)">
  Snapping to data points: {{isSnapingToDataPoint? 'on':'off'}}
</mat-slide-toggle>

<mat-slide-toggle 
  aria-label="isContinousPrediction"
  [checked]="isContinousPrediction"
  (change)="toggleContinousPrediction($event)">
  Showing {{isContinousPrediction? 'possible projection of change between recorded data points':'absolute values of closest data points'}}
</mat-slide-toggle>

<mat-slide-toggle 
  aria-label="isAnimate"
  [checked]="isAnimating"
  (change)="toggleAnimation($event)">
  Amination: {{isAnimating ? 'On':'Off'}}
</mat-slide-toggle>

<svg  id="sliderSVG" [attr.width]="width" [attr.height]="height">
    <g class="dateSlider">
    </g>
</svg>
