<mat-slide-toggle 
  aria-label="isSnapingToDataPoint"
  [checked]="isSnapingToDataPoint"
  (change)="toggleSnapping($event, timeScale, dragElem)">
  Snapping to data points: {{isSnapingToDataPoint? 'on':'off'}}
</mat-slide-toggle>

<mat-slide-toggle 
  aria-label="isContinousPrediction"
  [checked]="isContinousPrediction"
  (change)="isContinousPrediction = !isContinousPrediction">
  Showing {{isContinousPrediction? 'possible projection of change between recorded data points':'absolute values of closest data points'}}
</mat-slide-toggle>

<svg  id="sliderSVG" [attr.width]="width" [attr.height]="height">
    <g class="dateSlider">
    </g>
</svg>